{% extends "account/base_manage_password.html" %}
{% load crispy_forms_tags %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <h4 class="text-center">
        {% trans "Change Password" %}
    </h4>
    {% url 'account_change_password' as action_url %}
    {% url 'account_login' as login_url %}
    <form method="post" action="{{ login_url }}" class="d-flex flex-column justify-content-center align-item-center w-100 gap-3">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary w-100">
            {% trans "Change Password" %}
        </button>
    </form>
    <a class="text-dark mt-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
{% endblock content %}
