{% extends 'base_generic.html' %}

{% block content %}
  <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h1 class="text-center my-5">Account Overview</h1>

    <div class="list-group w-100" style="max-width: 500px;">
      <a href="{% url 'account_email' %}" class="list-group-item list-group-item-action">Change Email</a>
      <a href="{% url 'account_change_password' %}" class="list-group-item list-group-item-action">Change Password</a>
      <a href="{% url 'account_logout' %}" class="list-group-item list-group-item-action text-danger">Sign Out</a>
    </div>
  </div>
{% endblock %}
