{% extends 'base_generic.html' %}

{% block body %}
<div class="col-12 col-md-6 rounded-3 card {% if messages %}mt-0{% else %}mt-5{% endif %} d-flex flex-column justify-content-center align-item-center bg-light">
  
  <div class="card-header">
    <h4 class="text-center text-dark">Hunters List</h4>
  </div>
  
  <div class="card-body">
    
    <div class="accordion" id="botsAccordion">

      {% if hunters %}

      {% for hunter in hunters %}
        {% include "hunter_card.html" %}
      {% endfor %}

      <a href="{% url 'hunter:start_all_hunters' %}" class="w-100 btn btn-success mb-3">Start All Hunters</a>
      <a href="{% url 'hunter:stop_all_hunters' %}" class="w-100 btn btn-warning mb-3">Stop All Hunters</a>

      {% else %}
        <p class="text-center">No hunters found. Lets create some.</p>
      {% endif %}
    </div>

    <a href="{% url 'hunter:hunter_create_or_edit' pk=0 %}" class="w-100 btn btn-primary">Add New Hunter</a>

    {% if hunters %}
      <a href="{% url 'hunter:remove_all_hunters' %}" class="w-100 btn btn-danger mt-3">Remove All Hunters</a>
    {% endif %}
    
  </div>
</div>
{% endblock %}
