{% extends 'base_generic.html' %}
{% load crispy_forms_tags %} 

{% block body %}
  <div class="col-12 col-md-6 rounded-3 card {% if messages %}mt-0{% else %}mt-5{% endif %} d-flex flex-column justify-content-center align-items-center text-dark bg-light">
    
    <div class="card-header w-100">
      <h4 class="text-center">{{ title }}</h4>
    </div>
    
    <div class="card-body w-100">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="w-100 mt-3 d-flex flex-column gap-3 justify-content-center align-items-center">
          <button type="submit" class="w-100 btn btn-primary">{{ btn_text }}</button>
          <a href="{% url 'hunter:show_hunters_list' %}" class="w-100 btn btn-secondary">Back to hunters</a>
        </div> 
      </form>
    </div>
    
  </div>
{% endblock %}