{% extends 'base_generic.html' %}

{% block body %}
<div class="col-12 col-md-6 rounded-3 p-3 d-flex flex-column justify-content-center align-item-center text-dark bg-dark bg-opacity-25">
  
    {% if hunters %}

        <h4 class="text-center">Remove ALL Hunters?</h4>
        {% for hunter in hunters %}
            <p class="text-center">{{ hunter.id }} {{ hunter.symbol }} {{ hunter.interval }} {{ hunter.lookback }} {{ hunter.comment }}</p>
        {% endfor %}
        <h4 class="text-center">Total {{ user.technicalanalysishunter_set.count }} Hunters to remove.</h4>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="w-100 btn btn-danger mb-3">Yes, remove ALL</button>
        </form>
        <a href="{% url 'hunter:show_hunters_list' %}" class="w-100 btn btn-primary">No, Cancel</a>

    {% else %}

        <h4 class="text-center">No hunters. Nothing to remove.</h4>
        <a href="{% url 'hunter:show_hunters_list' %}" class="w-100 btn btn-primary">Back</a>
        
    {% endif %}
  
</div>
{% endblock %}