{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FomoSapiensCryptoDipHunter{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <a class="text-dark fs-6 navbar-brand p-0 m-0" href="/">FomoSapiensCryptoDipHunter</a>
                <p class="text-dark p-0 m-0">{{ date_and_time }}</p>
                {% if user.is_authenticated %}
                    <p class='text-dark p-0 m-0'>{{ user.email }}</p>
                    {% else %}
                    <p class='text-dark p-0 m-0'>guest not logged in 
                        <a href="/accounts/">(Sign In)</a>
                    </p>
                    {% endif %}
            </div>       
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="text-center text-dark nav-link {% if request.path == '/' %}fw-bold{% endif %}" aria-current="page" href="/">Home</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="text-center text-dark nav-link {% if request.path|startswith:'/analysis/' %}fw-bold{% endif %}" href="/analysis/">Analysis</a>
                    </li>
            
                    <li class="nav-item">
                        <a class="text-center text-dark nav-link {% if request.path|startswith:'/hunter/' %}fw-bold{% endif %}" href="/hunter/">Hunters {% if user.is_authenticated %}({{ user.technicalanalysishunter_set.count }}){% endif %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="text-center text-dark nav-link" href="https://stefan.ropeaccess.pro">Stefan</a>
                    </li>
            
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="text-center text-dark nav-link {% if request.path|startswith:'/admin/' %}fw-bold{% endif %}" href="/admin/">Admin</a>
                    </li>
                    {% endif %}
            
                    <li class="nav-item">
                        <a class="text-center text-dark nav-link {% if request.path|startswith:'/accounts/' %}fw-bold{% endif %}" href="/accounts/">
                            {% if user.is_authenticated %}
                              Account
                            {% else %}
                              Sign In
                            {% endif %}
                        </a>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="text-center text-dark nav-link" href="/accounts/logout/">
                                Sign Out
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>            
        </div>
    </nav>
            
    <main class="container my-3 mt-5 d-flex flex-column justify-content-center align-items-center">

        {% if messages %}
            <div class="alert alert-info mt-5" role="alert">
                {% for message in messages %}
                    <p class="mb-1 text-center">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        {% block body %}
        {% endblock %}

    </main>   

    <footer class="pb-4">
        <div class="container text-center text-dark">
            <a href="mailto:fomosapienscryptodiphunter@gmail.com">FomoSapiensCryptoDipHunter@gmail.com</a>
        </div>
    </footer>

    <div id="scrollTopBtn" class="d-flex flex-row justify-content-end align-items-center d-none">    
        <a href="#top" class="p-3">
            <i class="fa-solid fa-arrow-up fs-2"></i>
        </a> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
